{ 
    "presets": ["next/babel"], 
    "plugins": [
        ["styled-components", { "ssr": true }],
        ["prismjs", {
            "languages": ["c", "cpp"],
            "plugins": ["line-numbers", "show-language"],
            "theme": "synthwave84",
            "css": true
        }]
    ]
}