.pagination > li > a{
  background-color: white;
  color: #FF851B
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: white;
    background-color: #FF851B;
    border-color: #FF851B;
}
.pagination > .active > li > a{
  color: #FF851B;
  background-color: #FF851B;
  border : solid 1px;
}

.pagination > .active > a:hover{
  background-color: #FF851B;
  border : solid 1px;
}

#drop{
    margin-left: 100px;
    color: white;
    background-color: #FF851B;
    border-color: #FF851B;
}

/*all about chat*/
.fixed-bottom-right {
  position: fixed;
  right: 0;
  bottom: 0;
}
.btn-chat {
  z-index: 1;
  margin: 20px;
  color: var(--btn_grey);
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-chat:hover {
  color: white;
  background-color: var(--otog);
  transition: all 0.1s;
}
#chatbox {
  z-index: 2;
  max-width: 20rem;
  max-height: 26rem;
}
.chat-head:hover {
  color: white;
  background-color: var(--otog);
}
.chat-body {
  padding: 0 0 0 20px;
}
#messages {
  padding: 0;
  margin: 0;
  max-height: 20rem;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
}
#messages li {
  padding: 5px 10px;
  border-radius: 30px;
  margin: 1px 0;
  max-width: 16rem;
  background-color: #eee;
  align-self: flex-start;
  flex-wrap: wrap;
}
/*
#messages li .me{
  background: #0084ff;
  color: white;
  align-self: flex-end;
  flex-wrap: wrap;
}
#messages li .you{
  background-color: #eee;
  align-self: flex-start;
  flex-wrap: wrap;
}
#message span .me {
  align-self: flex-end
#message span .you {
  align-self: flex-start
}
*/
#messages span {
  font-weight: bold;
  font-size: 0.95rem;
}

/*blink for new contest*/
blink, .blink{
  animation: blinker 1.0s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}
.notif {
  float: right;
  margin: 0 -10px 0 -20px;
}

/* media query for responsive large lg*/
@media (max-width: 991px) {
  .notif::after {
    content: "";
    z-index: 1;
    float: right;
    border-radius: 4px;
    border: 4px solid var(--otog);
  }
}

/* media query for responsive large medium md*/
@media only screen and (max-width: 767px) {
  .chat-head {
    color: white;
    background-color: var(--otog);
  }
}

/* media query for responsive large small sm*/
@media only screen and (max-width: 539px) {
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  a.otogbtn,
  button.otogbtn {
    font-size: 0.9rem;
  }
  p, span,
  a.otogtxt,
  a.configlink,
  input::placeholder,
  label,
  td, th {
    font-size: 0.85rem;
  }
}

/* customizable snowflake styling *//*
.snowflake {
color: #fff;
font-size: 1em;
font-family: Arial;
text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{
  0%{top:-10%}
  100%{top:100%}
}
@-webkit-keyframes snowflakes-shake{
  0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
  50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
  100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
}
@keyframes snowflakes-fall{
  0%{top:-10%}
  100%{top:100%}
}
@keyframes snowflakes-shake{
  0%{transform:translateX(0px)}
  50%{transform:translateX(80px)}
  100%{transform:translateX(0px)}
}
.snowflake{
  position:fixed;
  top:-10%;
  z-index:9999;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
  -webkit-animation-name:snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration:10s,3s;
  -webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;
  animation-name:snowflakes-fall,snowflakes-shake;
  animation-duration:10s,3s;
  animation-timing-function:linear,ease-in-out;
  animation-iteration-count:infinite,infinite;
  animation-play-state:running,running
}
.snowflake:nth-of-type(0){
  left:1%;
  -webkit-animation-delay:0s,0s;
  animation-delay:0s,0s
}
.snowflake:nth-of-type(1){
  left:10%;
  -webkit-animation-delay:1s,1s;
  animation-delay:1s,1s
}
.snowflake:nth-of-type(2){
  left:20%;
  -webkit-animation-delay:6s,.5s;
  animation-delay:6s,.5s
}
.snowflake:nth-of-type(3){
  left:30%;
  -webkit-animation-delay:4s,2s;
  animation-delay:4s,2s
}
.snowflake:nth-of-type(4){
  left:40%;
  -webkit-animation-delay:2s,2s;
  animation-delay:2s,2s
}
.snowflake:nth-of-type(5){
  left:50%;
  -webkit-animation-delay:8s,3s;
  animation-delay:8s,3s
}
.snowflake:nth-of-type(6){
  left:60%;
  -webkit-animation-delay:6s,2s;
  animation-delay:6s,2s
}
.snowflake:nth-of-type(7){
  left:70%;
  -webkit-animation-delay:2.5s,1s;
  animation-delay:2.5s,1s
}
.snowflake:nth-of-type(8){
  left:80%;
  -webkit-animation-delay:1s,0s;
  animation-delay:1s,0s
}
.snowflake:nth-of-type(9){
  left:90%;
  -webkit-animation-delay:3s,1.5s;
  animation-delay:3s,1.5s
}
*/